{{#each blogs as |blog| }}
<div class="px-5 py-3">
    <a class="text-decoration-none" href="/blogs/{{blog.id}}">
        <div class="border border-5 border-dark">
            <div class="card-header d-flex flex-row justify-content-between"
                style="background-color: #2d2a29; color: #e5ebad;">
                <h4 class="">{{blog.title}}</h4>
                <p class="">{{blog.user.name}}</p>
            </div>
            <div class="card-body" style="background-color: #e5ebad;">
                <p class="card-text text-dark">{{blog.content}}</p>
            </div>
        </div>
    </a>
</div>
{{/each}}