<div class="p-5">
    <div class="border border-5 border-dark">
        <div class="card-header d-flex flex-row justify-content-between" style="background-color: #2d2a29; color: #e5ebad;">
            <h4 class="">title</h4>
            <p class="">Posted by user.username on format_date created_at</p>
        </div>
        <div class="card-body" style="background-color: #e5ebad;">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</div>