<div class="p-5">
    <div class="border border-5 border-dark">
        <div class="card-heade" style="background-color: #2d2a29; color: #e5ebad;">
            <h2 class="p-3">Login</h2>
        </div>
        <div class="card-body" style="background-color: #e5ebad;"> 
            <div class="text-danger" id="errors"></div>
            <form class="form login-form">
                <div class="form-outline">
                    <label class="form-label" for="username-login">Username</label>
                    <input class="form-control" type="text" id="username-login" />
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="password-login">Password:</label>
                    <input class="form-control" type="password" id="password-login" />
                </div>
                <div class="form-group">
                    <button class="btn" type="submit" style="background-color: #2d2a29; color: #e5ebad;">login</button>
                </div>
            </form>
            <a href="/signUp">Sign up instead</a>
        </div>
    </div>
</div>

<script src="../js/login.js"></script>