<div class="p-5">
    <div class="border border-5 border-dark">
        <div class="card-heade" style="background-color: #2d2a29; color: #e5ebad;">
            <h2 class="p-3">Sign Up</h2>
        </div>
        <div class="card-body" style="background-color: #e5ebad;">
            <form class="form signup-form">
                <div class="form-outline">
                    <label class="form-label" for="username-signup">Username</label>
                    <input class="form-control" type="text" id="username-signup" />
                </div>
                
                <div class="form-group">
                    <label class="form-label" for="password-signup">Password:</label>
                    <input class="form-control" type="password" id="password-signup" />
                </div>
                <div class="form-group">
                    <button class="btn" type="submit" style="background-color: #2d2a29; color: #e5ebad;">Sign Up</button>
                </div>
            </form>
            <a href="/login">Login instead</a>
        </div>
    </div>
</div>

<script src="../js/signUp.js"></script>